<h1>New Post</h1>

<form class="ui reply form" action="/posts" method="post">
  <div class="field comment_field" >
    <textarea name="content" placeholder="무슨 생각을 하고 계신가요?"></textarea>
  </div>
  <button class="ui primary submit labeled icon button new_comment">
    <i class="icon edit"></i> Write
  </button>
</form>

